* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  padding: 80px;
  background-color: #EBF0FA;
  color: #BBBFC7;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #eaedea;
  border-bottom: 2px solid #dadada;
  border-radius: 5px;
  height: 50px;
}

.logo {
  display: inline-block;
  border-radius: 100%;
  font-family: Georgia;
  font-weight: 800;
}

header a {
  margin-left: 20px;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
  color: grey;
}

.logo h1 {
  margin: 0;
  padding: 0;
  font-size: 22px;
}

.top-nav {
  position: absolute;
  right: 30px;
  top: 10px;
}

.top-link {
  color: #73767A;
  font-size: 22px;
  padding-right: 10px;
  padding-bottom: 6px;
}

.top-link:hover {
  color: white;
  text-decoration: underline;
}

form {
  left: 0;
  margin-top: 50px;
  display: block;
  margin-bottom: 30px;
}

label {
  font-family: Verdana;
  font-weight: bold;
  font-size: 20px;
  display: block;
  margin-left: 10px;
  margin-bottom: 35px;

  text-decoration: underline;
}

.search-space {
  height: 35px;
  box-shadow: 0 2px 10px #999999;
  font-size: 20px;
  border: 2px solid #CCCCCC;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;
  width: 450px;

  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.search-space:hover {
  box-shadow: 1px 4px 10px #333333;
}

form button {
  height: 35px;
  background-color: white;
  border: 2px solid #CCCCCC;
  border-radius: 5px;
  padding: 0px 10px 0px 10px;

  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

form button:hover {
  box-shadow: 0 0 10px #00AAFF;
}

.search-icon {
  vertical-align: bottom;
}

img {
  width: 25px;
}

.nav-page {
  display: inline-block;
  font-size: 0;
  margin-bottom: 50px;
  border: 2px solid #CCCCCC;
  border-radius: 5px;
}

.page-button {
  font-size: 18px;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  color: #73767A;
}

.page-button:hover {
  background-color: #4E5D7A;
  color: #EBF0FA;
  text-shadow: 0 0 10px #A1BFFB;
}

nav a {
  text-decoration: none;
}

.items-display {
  font-size: 18px;
  padding: 10px 15px;
  border-left: 2px solid #CCCCCC;
  border-right: 2px solid #CCCCCC;
}

.date, .location {
  font-family: Verdana;
  font-weight: bold;
  font-size: 18px;
  color: #BBBFC7;
}

a.jobs {
  color: #73767A;
  margin-left: 15px;
  margin-right: 15px;
  font-family: Verdana;
  font-size: 18px;
  text-decoration: none;
}

a.jobs:hover {
  font-size: 18.1px;
}